<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<title>みらいく病児予約システム</title>
<meta name="description" content="">
<meta name="robots" content="noindex , nofollow" />
<meta http-equiv="content-language" content="ja">
<meta name="format-detection" content="telephone=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- OGP -->
<!-- TODO PHPパラメータで抜けているところを追加する-->
<meta property="og:type" content="website">
<meta property="og:site_name" content="みらいく病児予約システム">
<meta property="og:title" content="みらいく病児予約システム">
<meta property="og:description" content="">
<meta property="og:url" content="https://byojihoiku.chiikihoiku.net/">
<meta property="og:locale" content="ja_JP">
<meta property="fb:app_id" content="">
<meta property="og:image" content="">

<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@VookJp">
<meta name="twitter:image" content="">

<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="apple-touch-icon" href="/img/webclip.png">

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="/js/jquery.confirmModal.min.js"></script>
<script src="/js/notifIt.min.js"></script>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="/css/notifIt.min.css">
<link rel="stylesheet" type="text/css" href="/css/reset.css">
<link rel="stylesheet" type="text/css" href="/css/vendor.css">

<script>
$(function(){
  $('tr[data-href]').click(function (e) {
      if ($(e.target).is('td')) {
        window.location = $(this).data('href');
      };
  });
});
</script>