<!doctype html>
<html>
<head>
  <%- include ("../../partials/head.ejs") %>
</head>

<body class="reservation-confirm page">
  <%- include ("../../partials/header.ejs") %>
  <main class="l-main">
    <section>
      <h2 class="is-center">予約確認</h2>
      <div class="form-panel l-container is-md">
        <dl>
          <dt>会員ID</dt>
          <dd>21001</dd>
        </dl>
        <dl>
          <dt>ステータス</dt>
          <dd>予約確定</dd>
        </dl>
        <dl>
          <dt>児童名</dt>
          <dd>ヤマダタロウ</dd>
        </dl>
        <dl>
          <dt>年齢</dt>
          <dd>3歳1ヶ月</dd>
        </dl>
        <dl>
          <dt>病名</dt>
          <dd>
            急性上気道炎<br>
            ぜんそく
          </dd>
        </dl>
        <dl>
          <dt>利用日</dt>
          <dd>2021/11/1(月)</dd>
        </dl>
        <dl>
          <dt>利用時間</dt>
          <dd>9:00-16:00</dd>
        </dl>
        <dl>
          <dt>利用園</dt>
          <dd>早苗町</dd>
        </dl>
        <dl>
          <dt>保護者名</dt>
          <dd>山田花子</dd>
        </dl>
        <dl>
          <dt>連絡先</dt>
          <dd>080-0000-0000</dd>
        </dl>
        <dl>
          <dt>兄妹利用の有無</dt>
          <dd>なし</dd>
        </dl>
        <dl>
          <dt>食事の種類</dt>
          <dd>幼児食</dd>
        </dl>
        <dl>
          <dt>食事の追加事項</dt>
          <dd>おなかに優しい食事（おう吐・下痢）</dd>
        </dl>
        <dl>
          <dt>熱性けいれん</dt>
          <dd>回数、初回○歳○ヶ月、最終○歳○ヶ月</dd>
        </dl>
        <dl>
          <dt>アレルギー</dt>
          <dd>小麦と卵</dd>
        </dl>
      </div>
      <div class="btns">
        <button class="btn-l is-border">戻る</button>
        <button class="btn-l">編集</button>
      </div>
    </section>
  </main>

  <%- include ("../../partials/footer.ejs") %>

</body>
</html>
