<!doctype html>
<html>
<head>
  <%- include ("../../partials/head.ejs") %>
</head>

<body class="reservation page">
  <%- include ("../../partials/header.ejs") %>
  <main class="l-main">
    <section>
      <div class="l-container">
        <nav class="page-navi">
          <ul>
            <li><a href="#">早苗町</a></li>
            <li><a href="#">高田</a></li>
            <li><a href="#">小布施</a></li>
          </ul>
        </nav>
      </div>
    </section>
    <section class="l-container">
      <h2>早苗町</h2>
    </section>
    <section>
      <div class="tabs l-container">
        <input id="tab1" type="radio" name="tab_item" checked>
        <label class="tab_item" for="tab1">2021/11/1<span>(月)</span></label>
        <input id="tab2" type="radio" name="tab_item">
        <label class="tab_item" for="tab2">2021/11/2<span>(火)</span></label>
        <input id="tab3" type="radio" name="tab_item">
        <label class="tab_item" for="tab3">2021/11/3<span>(水)</span></label>
        <div class="tab_content" id="tab1_content">
          <div class="tab_content_description">
            <section>
              <div>
                <h3>予約確定</h3>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <th>名前</th>
                      <th>年齢</th>
                      <th>利用希望日</th>
                      <th>病名</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>1</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>2</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
            <section>
              <div>
                <h3>キャンセル待ち</h3>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <th>名前</th>
                      <th>年齢</th>
                      <th>利用希望日</th>
                      <th>病名</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>2</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr class="is-reject">
                      <td>3</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="tab_content" id="tab2_content">
          <div class="tab_content_description">
            <section>
              <div>
                <h3>予約確定</h3>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <th>名前</th>
                      <th>年齢</th>
                      <th>利用希望日</th>
                      <th>病名</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>1</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>2</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
            <section>
              <div>
                <h3>キャンセル待ち</h3>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <th>名前</th>
                      <th>年齢</th>
                      <th>利用希望日</th>
                      <th>病名</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>1</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>2</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="tab_content" id="tab3_content">
          <div class="tab_content_description">
            <section>
              <div>
                <h3>予約確定</h3>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <th>名前</th>
                      <th>年齢</th>
                      <th>利用希望日</th>
                      <th>病名</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>1</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>2</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-yellow">キャンセル待ち</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
            <section>
              <div>
                <h3>キャンセル待ち</h3>
                <div class="table-wrap">
                  <table class="table">
                    <tr>
                      <th>&nbsp;</th>
                      <th>会員ID</th>
                      <th>名前</th>
                      <th>年齢</th>
                      <th>利用希望日</th>
                      <th>病名</th>
                      <th>&nbsp;</th>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>1</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                    <tr data-href="/reservation/confirm">
                      <td>2</td>
                      <td>21001</td>
                      <td>ヤマダタロウ</td>
                      <td>2歳1ヶ月</td>
                      <td>2021/01/01(月)</td>
                      <td class="is-left">
                        01.急性上気道炎<br>
                        03.病名が入ります病名が入ります
                      </td>
                      <td class="is-left">
                        <select name="" class="is-sm">
                          <option value="sanaecho">早苗町</option>
                          <option value="takada">高田</option>
                          <option value="obuse">小布施</option>
                        </select>
                        <button type="button" class="is-blue">園変更</button>
                        <button type="button" class="is-green">予約確定</button>
                        <button type="button" class="is-red">対応不可</button>
                        <button type="button" class="is-violet">キャンセル</button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </main>

  <%- include ("../../partials/footer.ejs") %>
</body>
</html>
