<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body class="login page">
  <main class="l-main">

    <section class="login l-container">
      
      <h1>
        <img src="<?='/miraiku/byojihoiku-confirm-html' ?>/assets/img/top-logo.svg"><br>
        みらいく病児予約システム
      </h1>
      <div class="login-panel">
        <dl>
          <dt>ID</dt>
          <dd><input type="text" class="is-lg" /></dd>
        </dl>
        <dl>
          <dt>パスワード</dt>
          <dd><input type="text" class="is-lg" /></dd>
        </dl>
        <div class="btns">
          <button class="btn-l">ログイン</a>
        </div>
      </div>
    </section>

  </main>

<%- include ("../partials/footer.ejs") %>

</body>
</html>
