<!DOCTYPE html>
<html>
<head>
  <% if (SubTitle !== null ) { %>
    <%- include ("../partials/head.ejs", SubTitle) %>
  <% } else { %>
  <%- include ("../partials/head.ejs") %>
  <% } %>
</head>

<body class="login page">
  <main class="l-main">
    <section class="login l-container">
      <h1>
        <img src="/img/top-logo.svg"><br>
        みらいく病児予約システム<br/>会員登録
      </h1>
      <form action="javascript:void(0);" method="post" id="registerForm">
        <div class="login-panel">
          <dl>
            <dt>ID</dt>
            <dd><input type="text" class="is-lg" name="name"/></dd>
          </dl>
          <dl>
            <dt>パスワード</dt>
            <dd><input type="password" class="is-lg" name="password"/></dd>
          </dl>
          <div class="btns">
            <button class="btn-l btn_login_register" type="submit">会員登録</a>
          </div>
        </div>
      </form>
    </section>
  </main>
<%- include ("../../partials/footer.ejs") %>

</body>
</html>
